<app-top-bar></app-top-bar>

<div class="container">
  <router-outlet></router-outlet>
</div>
<div style='margin:3em'>
  <label>First Name</label>
  <input type="text" placeholder="enter your first name">
  <label>Last Name</label>
  <input type="text" placeholder="enter your last name">
  <label>User Name</label>
  <input type="text" placeholder="enter your user name">
   <label>Password</label>
  <input type="password" placeholder="enter your password">
   <label>Date of birth</label>
  <input type="date">
  <label>Country</label>
  <input type="text" placeholder="enter your country"><br>
   <input type="button" value="Submit" name="submit" id="button">
</div>